@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .size-route-button {
    
    height: 350px;
    width: 200px;
  }

  .size-loco-button {
    
    height: 200px;
    width: 400px;
  }
}